@model OfferViewModel
@{
    ViewData["Title"] = "اضافه عرض";
    Layout = "_DoctorLayout";

}

<head>
    <link rel="stylesheet" href="~/css/contactUs.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/addOffer.css" asp-append-version="true" />

</head>



<section class="contactSection mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="formContent">
                    <form id="offerForm" enctype="multipart/form-data">
                        <h3> اضافه عرض</h3>
                        <div class="row" style="margin-top:30px">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="col-md-6">
                                <div class="field">
                                    <div class="input-group">
                                        <input type="text" asp-for="title" autocomplete="off" class="form-control" placeholder=" عنوان العرض">
                                    </div>
                                    <span asp-validation-for="title" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="field">
                                    <div class="input-group">
                                        <input type="text" asp-for="subTitle" autocomplete="off" class="form-control" placeholder=" العنوان الفرعي للعرض">

                                    </div>
                                    <span asp-validation-for="subTitle" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="field">
                                    <div class="input-group">
                                        <textarea class="form-control" asp-for="description" placeholder="  تفاصيل العرض" cols="9"></textarea>
                                    </div>
                                    <span asp-validation-for="description" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="field">
                                    <div class="input-group">
                                        <input type="number" asp-for="price" autocomplete="off" class="form-control" placeholder=" سعر العرض">
                                    </div>
                                    <span asp-validation-for="price" class="text-danger"></span>

                                </div>
                            </div>


                            <div class="col-md-12">
                                <p style=" font: 600 20px/0px Almarai; padding: 15px;">صورة العرض الرئيسية </p>
                                <div class="field mainOffer d-flex">
                                    <div class="input-group image-group ">
                                        <!-- Image Form Input -->
                                        <input type="file" accept="image/jpg, image/jpeg" class="form-control-file" asp-for="mainPhotoUploaded" onchange="preview();">
                                        <input type="hidden" id="offerImgName">
                                        <label class="info-group" for="OfferAvatar">
                                            <p>اسحب الصورة هنا</p>
                                            <p>أو انقر لاختيار الصورة</p>
                                        </label>

                                    </div>

                                    <div class="img-preview">
                                        <div class="img-wrapper offerImg">
                                            <img src="" alt="" id="offerImgPre">

                                        </div>
                                    </div>

                                </div>
                                <span asp-validation-for="mainPhotoUploaded" class="text-danger"></span>

                            </div>

                            <div class="col-md-12">
                                <p style=" font: 600 20px/0px Almarai; padding: 15px;">صور العرض  </p>
                                <div class="field">
                                    <div class="input-group image-group ">

                                        <!-- Image Form Input -->
                                        <input type="file" multiple accept="image/jpg, image/jpeg" class="form-control-file" asp-for="offerPhotos">
                                        <input type="hidden" id="offerImgName">
                                        <label class="info-group" for="OfferAvatar">
                                            <p>اسحب الصورة هنا</p>
                                            <p>أو انقر لاختيار الصورة</p>
                                        </label>
                                    </div>
                                    <span asp-validation-for="offerPhotos" class="text-danger"></span>
                                    <input type="hidden" asp-for="doctorID" value="0">

                                    <div class="gallery d-table" id="gallery"></div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="button-group mt-3">
                                    <button type="button" id="add" class="btn btn-standard " @*onclick="Add()"*@ style="font-weight:700;position:absolute;">
                                        <div class="spinner-container">
                                            <div class="db-spinner"></div>
                                        </div>
                                        اضافة

                                    </button>
                                    <button type="reset" class="btn btn-standard" onclick="ResetForm()" style="font-weight:700">إلغاء</button>
                                </div>

                            </div>
                        </div>
                    </form>



                </div>
            </div>

        </div>
    </div>
</section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
    $(document).ready(function () {
        $("#offers").addClass("active");
        $(".spinner-container").hide();
        $("#offerForm").submit(function (e) {
            e.preventDefault();

        });

        $("#add").on("click", function (event) {
            var validator = $("#offerForm").validate();
            var flag = validator.form();
            if (flag) {
                CheckIfHasAppointments();
               
            }

        });



    });

    $("#offerPhotos").on("change", function () {
        if ($("#offerPhotos")[0].files.length > 4 || $("#offerPhotos")[0].files.length < 4) {
            Swal.fire(
                {
                    title: 'يجب اختيار 4 صور ',
                    icon: 'info',
                })

            $("#offerPhotos").val('');
            $("#gallery").empty();
        } else {
            $("#gallery").empty();
            previewMultiple(event);
        }


    });

    function preview() {
        document.getElementById('offerImgPre').src = window.URL.createObjectURL(event.target.files[0])
    }



    function previewMultiple(event) {
        var offerSGallery = document.getElementById("offerPhotos");
        var count = offerSGallery.files.length;
        for (i = 0; i < count; i++) {
            var urls = URL.createObjectURL(event.target.files[i]);
            document.getElementById("gallery").innerHTML += '<img  class="offersPre" src="' + urls + '">';
        }
    }

    function Add() {
      
        $.ajax({
            url: '/Offers/AddOffer',
            type: 'POST',
            data: new FormData($("#offerForm")[0]),
            processData: false,
            contentType: false,
            beforeSend: function () {
                $('#add').prop('disabled', true);
                $(".spinner-container").show();

            },
            success: function (result) {
                if (result == "success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'تم الحفظ',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    Notiflix.Notify.Success('تم الاضافه');
                    ResetForm();
                }
                else if (result == "exist") {
                    Notiflix.Notify.Failure('حدث خطا ما');
                    alert(e.responseText);

                }

            },
            error: function (e) {
                Notiflix.Notify.Failure('حدث خطا ما يرجي اعاده المحاوله');
                alert(e.responseText);
            },
            complete: function () {
               
                $('#add').prop('disabled', false);
                $(".spinner-container").hide();

            },
        });
    }

    function CheckIfHasAppointments() {

        $.ajax({
            url: "/Appointments/GetDoctorAppointments",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                debugger;
                if (result.length == 0) {
                    Swal.fire({
                        icon: 'info',
                        title: ' يجب اضافه مواعيد اولا',
                        showConfirmButton: false,
                        timer: 2000
                    })
                    window.location.href = "/Appointments/AddAppointments";
                }
                   
             
                Add();

            }
        });
    }


    function ResetForm() {
        $('#title').val('');
        $('#subTitle').val('');
        $('#description').val('');
        $('#price').val('');
        $('#mainPhoto').val('');
        $('#offerPhotos').val('');
        $('#offerImgPre').removeAttr('src');
        $('#gallery').empty();

    }

</script>