@model DoctorViewModel
@{
    ViewData["Title"] = "تعديل الحساب ";
    Layout = "_DoctorLayout";

}

<head>
    <link rel="stylesheet" href="~/css/editAccount.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/contactUs.css" asp-append-version="true" />

</head>

<section class="doctorInfoSection mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="Content" >

                    <form id="doctorInfoForm">
                        <h3>  تغيير كلمة المرور</h3>

                        <div class="row" style="margin-top:35px">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="col-md-12 field">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="password">
                                            <i class="far fa-lock" style="font-size:18px" aria-hidden="true"></i>
                                        </label>
                                    </div>
                                    <div class="prepend-divider"></div>
                                    <input type="password" asp-for="password" autocomplete="off" class="form-control" placeholder=" كلمة المرور الجديدة" required>
                                </div>
                                <span asp-validation-for="password" class="text-danger"></span>

                            </div>

                            <div class="col-md-12 field">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="confirmPassword">
                                            <i class="far fa-lock" style="font-size:18px" aria-hidden="true"></i>
                                        </label>
                                    </div>
                                    <div class="prepend-divider"></div>
                                    <input type="password" asp-for="confirmPassword" autocomplete="off" class="form-control" placeholder=" تاكيد كلمة المرور الجديد  " required>
                                </div>
                                <span asp-validation-for="confirmPassword" class="text-danger"></span>

                            </div>

                            <div class="col-md-12">
                                <div class="button-group mb-5">
                                    <button type="submit" id="add" class="btn btn-standard" style="font-weight:700;position:absolute;">
                                        <div class="spinner-container">
                                            <div class="db-spinner"></div>
                                        </div>
                                        حفظ

                                    </button>
                                </div>

                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $(document).ready(function () {
        $("#account").addClass("active");
        $(".spinner-container").hide();

        $("#add").on("click", function (event) {

            var validator = $("#doctorInfoForm").validate();
            var flag = validator.form();
            if (flag) {
                Add();
            }
        });
    })

    function Add() {
        $.ajax({
            url: '/Doctors/ChangePassword',
            type: 'POST',
            data: new FormData($("#doctorInfoForm")[0]),
            processData: false,
            contentType: false,
            beforeSend: function () {
                $('#add').prop('disabled', true);
                $(".spinner-container").show();

            },
            success: function (result) {
                if (result == "success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'تم الحفظ',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
                else if (result == "error") {
                    Notiflix.Notify.Failure('حدث خطا ما');
                    alert(e.responseText);

                }

            },
            error: function (e) {
                Notiflix.Notify.Failure('حدث خطا ما يرجي اعاده المحاوله');
                alert(e.responseText);
            },
            complete: function () {

                $('#add').prop('disabled', false);
                $(".spinner-container").hide();

            },
        });
    }


</script>