

body {
    background-color: #fbfeff !important;
    text-align: right;
    direction:rtl;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Scheherazade+New:wght@400;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


.myNav {
    background-color: #fff;
    text-align: center;
    z-index: 9999;
    box-shadow: 0 -6px 14px 0 rgb(0 0 0 / 20%);
}

.navbar-light .navbar-nav .nav-link {
    padding: 10px 18px;
    font: Bold 22px/30px Cairo;
    color: #01b5b6;
}

.navbar {
    padding: 0.5rem 1rem;
}
.navbar-brand {
    margin-right: 0 !important;
}

a.dropdown-item {
    padding: 15px 25px;
    font: Bold 19px/30px Cairo;
    color: #01b5b6;
}

.login {
    min-width: 140px;
    background-color: #01b5b6;
    border: 3px solid #01b5b6;
    border-radius: 7px;
    font: Bold 16px/27px Cairo;
    color: #f1f8fb;
    margin-left: 11px;
    margin: auto 10.5px;
}

    .login:hover, .sign-up:hover {
        background-color: #0a8d8d;
        color: #f1f8fb !important;
    }

.sign-up {
    min-width: 140px;
    background-color: transparent;
    border: 3px solid #01b5b6;
    color: #01b5b6;
    border-radius: 7px;
    font: Bold 16px/27px Cairo;
}


footer {
    bottom: 0;
    width: 100%;
    background: linear-gradient( 90deg,#00b8cd 0,#01B5B6 100%);
    text-align: right;
}

.copyrights {
    background-color: #22212133;
    text-align: center;
    padding: 11px 0;
    width: 100%;
    color: #fbfeff;
    font-weight: 600;
    font-size: 18px;
}

.white {
    color: #f1f8fb !important;
}

.line-divider {
    width: 75px;
    border-bottom: 4px solid #006b74;
    margin: 11.5px 0 0 0;
}

.head {
    margin-top: 25px;
}

footer .text {
    margin-top: 11px;
    font-weight: bold;
}

.social-media {
    margin-top: 24px;
}

.btn-social {
    font-size: 21px;
    width: 45px;
    height: 45px;
    color: #01b5b6;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.5s all;
    margin: 2px;
    margin-bottom: 25px;
    text-align: center;
    padding: 7px;
}

    .btn-social:hover {
        background-color: #006b74;
        color: #fff;
    }

footer .navbar-nav {
    padding-right: 0;
}

.container-fluid {
    padding-right: 60px !important;
    padding-left: 60px !important;
}

.emailSubscripe {
    margin-top: 24px;
    margin-bottom: 40px;
}

#emailSubscripe {
    background-color: #0a9DAD72;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 14px 16px;
    width: 260px;
}

#emailBtn {
    font-size: 21px;
    color: #fff;
    background-color: #f1f8FB4D;
    padding: 9px 18px;
    margin: -2px -4px 0 0;
    border-radius: 1px;
    transform: scaleX(-1);
}

    #emailBtn:hover {
        background-color: #f1f8FBEE;
        color: #01b5b6;
    }

::placeholder {
    color: #fff;
    font-weight: 700;
}

.swal2-icon .swal2-icon-content {
    color: #01b5b6 !important;
}
.swal2-icon.swal2-warning {
     border: #01b5b6 4px solid !important;
}

.swal2-styled.swal2-cancel {
    background-color: rgb(149 143 143) !important;
}

footer{
    overflow:hidden;
}

@media (max-width: 1185px) {
    .container-fluid {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}