    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4  col-md-5 white">
                    <div class="head">
                        <h2> <i style="font-size:50px" class="fal fa-stethoscope"> <span style="font-size:35px">الاسبتالية</span>  </i></h2>
                        <div class="line-divider"></div>
                    </div>
                    <div class="text">
                        <p class="white" style="width: 320px;line-height:1.6">الإسبتالية الصحية هي المنصة للرعاية الإلكترونية لحجز الأطباء و برنامج تنظيم إدارة العيادات في منطقة الشرق الأوسط وشمال إفريقيا. نحن نقود تحويل الأطباء و العيادات و المستشفيات إلكترونيتا وأوتوماتيكيا الرعاية الصحية عالية الجودة سهلة المنال في المنطقة العربية.</p>
                    </div>


                    <div class="social-media white">
                        <a class="btn btn-social" aria-label="facebook" href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                        <a class="btn btn-social" aria-label="twitter" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        <a class="btn btn-social" aria-label="instagram" href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        <a class="btn btn-social" aria-label="linkedin" href="#"><i class="fab fa-linkedin" aria-hidden="true"></i> </a>
                        <a class="btn btn-social" aria-label="youtube" href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>

                <div class="col-md-2 white">
                    <div class="head">
                        <h3>روابط تهمك</h3>
                        <div class="line-divider"></div>
                        <ul class="navbar-nav text">
                            <li class="nav-item">
                                <a class="nav-link white" href="#">من نحن</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link white" href="#">فريق الاسبتالية</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link white" href="#">انظم الي أطبائنا</a>
                            </li>

                        </ul>
                    </div>

                </div>

                <div class="col-md-3 white">
                    <div class="head">
                        <h3> معلومات مهمة</h3>
                        <div class="line-divider"></div>
                        <ul class="navbar-nav text">
                            <li class="nav-item">
                                <a class="nav-link white" href="#">اتصل بنا </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link white" href="#">شروط الاستخدام</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link white" href="#">اتفاقية الخصوصيه</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link white" href="#">اتفاقية الخصوصيه للاطباء</a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 white">
                    <div class="head">
                        <h3> إشترك في قائمتنا الاخبارية </h3>
                        <div class="line-divider"></div>
                        <div class="emailSubscripe">
                            <input type="email" id="emailSubscripe" required="" placeholder="ادخل بريدك الالكتروني">
                            <button type="button" class="btn" aria-label="send" id="emailBtn">
                                <i class="far fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="copyrights">
            <p>جميع الحقوق محفوظة &copy;
            <script>document.write(new Date().getFullYear())</script></p>
        </div>
    </footer>

